{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-left">
        <h1>All Pages</h1>
    </div>
    <div class="row justify-content-left">
        <ul class="list-group">
            {% for entry in entries %}
            <a class="text-center list-group-item list-group-item-action"
                href="/wiki/{{entry}}">{{ entry }}</a>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %}